/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
checkouts
.cpcache

.rebel_readline_history
resources/public/.ac-php-conf.json
resources/public/.phel-repl-history
resources/public/composer.lock
resources/public/composer.phar
resources/public/klmlog.txt
resources/public/phel-backend/.DS_Store
resources/public/phel-backend/little-clojure/.DS_Store
resources/public/vendor/